<form>
  <div *ngIf="login_error !== ''">
    {{login_error}}
  </div>

  <div>
    <input type="text" name="username" placeholder="login" [(ngModel)]="login">
  </div>

  <div>
    <input type="text" name="password" placeholder="password" [(ngModel)]="password">
  </div>

  <div>
    <input type="text" name="rePassword" placeholder="repeat password" [(ngModel)]="rePassword">
  </div>

  <div>
    <button (click)="registerIn()">Zarejestroj Sie >></button>
  </div>

  <div>
    <button (click)="returnToMain()">Główna strona >></button>
  </div>


</form>
